---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    

    <main>
        <h1>About Astro</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam
            minus quaerat beatae quam expedita! Impedit numquam cumque expedita
            repellat consectetur fugit debitis officia quis quo sequi, itaque
            molestias ducimus, necessitatibus eligendi? Voluptates, magnam
            molestias quia unde, ex praesentium vero nemo illum dolorum
            voluptatum soluta quibusdam aut! Sed eligendi aut quos dolorum
            voluptatum qui blanditiis commodi, non porro quibusdam, quae
            tempore.
        </p>
    </main>
</Layout>
