---

---

<div class="welcome container text-center p-3 rounded-3 ml-2">
    <div class="row">
        <div class="col-12 p-4">
            <h1>welcome to gnashers</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-4">
            <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis nemo
        incidunt quidem fugit ab sapiente nulla maxime itaque soluta dolor sint,
        nisi molestias dignissimos maiores facere. Eos ipsum aliquam esse labore
        repudiandae? Culpa quaerat nemo maiores assumenda recusandae quisquam
        laboriosam totam? Illo id repellat eum! Quasi placeat magnam nesciunt
        sequi!
    </p>
        </div>
    </div>
    
</div>

<style>
    h1 {
        font-weight: 700;
        font-style: italic;
        font-size: 300%;
    }
    @media (min-width: 600px) {
        h1 {
            font-size: 500%;
        }
    }
</style>