---
import Blog from "../../layouts/Blog.astro";
---

<Blog>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
        minus officia ipsam, numquam mollitia rerum ullam ipsum nemo nesciunt
        quasi fuga eos doloremque aliquid minima, deserunt eligendi itaque
        nostrum deleniti beatae. Provident, quod vero consequuntur voluptatem
        cumque repudiandae esse aspernatur sed eaque deserunt natus quam at ex
        qui excepturi temporibus?
    </p>
</Blog>
