---
import Blog from "../../layouts/Blog.astro";
---

<Blog>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
        repudiandae, sit rerum rem atque commodi a minus quas nisi nam!
    </p>
</Blog>
