---
import Blog from "../../layouts/Blog.astro";
---

<Blog>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
        dolores cumque minus iusto laborum dicta enim quae saepe laboriosam hic.
    </p>
</Blog>
